*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/planningMode.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/tools/dictionary-generator/build/
/app/src/main/assets/dictionary.db
/tools/dictionary-generator/data/
.kotlin
*.jks
*.keystore
